# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test, coverage, and profiling artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm project files
.idea/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/
*.iml
*.ipr
*.iws

# Local environment variables
.env
.venv
*.env
.env.*.local

# LeetCode-generated solution files (optional, if you keep temporary files for testing)
*.tmp
